<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "LK", root_path%>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "About Me", "", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Education", "", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Experience", "", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Skills", "", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Portfolio", "", class:"navbar-wagon-item navbar-wagon-link"%>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
        <%= image_tag "my_profile_pic.jpeg", alt: "Profile Pic", class:"avatar dropdown-toggle", id:"navbar-wagon-menu"%>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "About Me", "", class:"navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Education", "", class:"navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Experience", "", class:"navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Skills", "", class:"navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Portfolio", "", class:"navbar-wagon-item navbar-wagon-link"%></li>
      </ul>
    </div>
  </div>
</div>
